/* Reset some default browser styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Body and container styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

/* Header styles */
header {
    background-color: #66a3c7;
    color: #fff;
    padding: 16px 0;
    box-shadow: 0 4px 2px -2px #66a3c7;
}

header h1 {
    text-align: center;
    margin-bottom: 16px;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 16px;
}

header nav ul li a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ddd;
}

/* Main content styles */
main {
    flex: 1;
    padding: 32px 0;
}

main h2 {
    text-align: center;
    margin-bottom: 24px;
}

/* Footer styles */
footer {
    background-color: #66a3c7;
    color: #fff;
    padding: 16px 0;
    text-align: center;
    box-shadow: 0 -4px 2px -2px #66a3c7;
}

/* Estilo para a lista de tarefas */
.list-task {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.list-task h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 28px;
    color: #66a3c7;
}

.list-task ul {
    padding: 0;
    list-style: none;
}

.task-item {
    background-color: #f9f9f9;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item p {
    margin: 8px 0;
    font-size: 16px;
}

.task-item strong {
    color: #66a3c7;
}

/* Estilo para a página de listas de tarefas */
.todo-lists-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.todo-lists-container h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 28px;
    color: #333;
}

.todo-lists {
    padding: 0;
    list-style: none;
}

.todo-list-item {
    background-color: #f9f9f9;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.todo-list-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.todo-list-item a:hover {
    color: #007bff;
}

.todo-list-item a:visited {
    color: #333;
}

.todo-list-item:hover {
    transform: scale(1.02);
}

/* Estilo para botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.delete-link {
    display: inline-block;
    padding: 6px 12px;
    background-color: #d10000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.delete-link:hover {
    background-color: #b80000; /* cor de fundo ligeiramente mais escura para hover */
}

.cancelar-item{
    display: inline-block;
    padding: 6px 12px;
    background-color: #9c0000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cancelar-item:hover{
    background-color: #8a0303;
}

/* Estilo para links de edição */
.edit-link {
    display: inline-block;
    padding: 6px 12px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.edit-link:hover {
    background-color: #218838;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-container form input[type="text"],
.form-container form textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container form button:hover {
    background-color: #0056b3;
}

.btn-login,
.btn-logout,
.btn-register, 
.btn-guest {
    background-color: #2490bb; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 15px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    text-decoration: none; /* Remover sublinhado (para o link de login) */
    font-size: 16px; /* Tamanho da fonte */
    margin-right: 15px; /* Espaçamento à direita */
}

.btn-login:hover,
.btn-logout:hover,
.btn-register:hover,
.btn-guest:hover {
    background-color: #2490bb; /* Cor de fundo ao passar o mouse */
}



/* styles.css */

.login-container {
    max-width: 400px; /* Largura máxima da div */
    margin: 50px auto; /* Centraliza a div horizontalmente e adiciona margem superior/inferior */
    padding: 20px; /* Espaçamento interno */
    background: #f4f4f4; /* Cor de fundo da div */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de elevação */
}

.login-container h2 {
    text-align: center; /* Centraliza o texto do título */
}

.login-container form {
    display: flex; /* Utiliza flexbox para o formulário */
    flex-direction: column; /* Direção das colunas */
}

.login-container form button {
    align-self: center; /* Centraliza o botão de login */
}

.login-form {
    display: flex; /* Utiliza flexbox para o formulário */
    flex-direction: column; /* Direção das colunas */
}

.form-group {
    margin-bottom: 15px; /* Espaçamento entre os grupos de formulários */
}

.form-group label {
    display: block; /* Faz com que o rótulo ocupe toda a largura do contêiner pai */
    margin-bottom: 5px; /* Espaçamento abaixo do rótulo */
    font-weight: bold; /* Deixa o rótulo em negrito */
}

.form-group input {
    width: 100%; /* Faz o input ocupar toda a largura do contêiner pai */
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 4px; /* Bordas arredondadas */
}

/* styles.css */

.register-container {
    max-width: 400px; /* Largura máxima da div */
    margin: 50px auto; /* Centraliza a div horizontalmente e adiciona margem superior/inferior */
    padding: 20px; /* Espaçamento interno */
    background: #f4f4f4; /* Cor de fundo da div */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de elevação */
}

.register-container h2 {
    text-align: center; /* Centraliza o texto do título */
}

.register-container form {
    display: flex; /* Utiliza flexbox para o formulário */
    flex-direction: column; /* Direção das colunas */
}

.register-container form button {
    align-self: center; /* Centraliza o botão de registro */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}