<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Todo App</h1>
            <nav>
                {% if user.is_authenticated %}
                    <form id="logout-form" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-logout">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn-login">Login</a>
                    <a href="{% url 'register' %}" class="btn-register">Register</a>
                    <a href="{% url 'guest_login' %}" class="btn-guest">Login as Guest</a>
                {% endif %}
                
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; {% now "Y" %} Todo App. Adenilson De Mello Junior.</p>
        </div>
    </footer>
</body>
</html>
